<table>
	<tr>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @resume_entries.each do |resume_entry| %>
		<tr>
			<td><%= resume_entry.start_date %></td>
			<td><%= resume_entry.end_date %></td>
			<td><%= resume_entry.description %></td>
			<td><%= link_to "Show", resume_entry %></td>
			<td><%= link_to "Edit", edit_resume_entry_path(resume_entry) %></td>
			<td><%= link_to "Destroy", resume_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add New Resume Entry", new_resume_entry_path %>