<div class="container">
	<div class="nav">
		<%= link_to "HOME", "#" %>
		<%= link_to "EDUCATION", "#" %>
		<%= link_to "EXPERIENCE", "#" %>
		<%= link_to "PROJECTS", "#" %>
		<%= link_to "CONTACT", contact_path %>
	</div>
</div>